@import "src/global_styles/palette";
@import "src/global_styles/basic_layouts";
@import "src/global_styles/basic_visual";

html {
    height: 100%;
}

body {
    background-color: $soapstone !important;
    height: 100%;
}

.app-container {
    min-height: 100vh;
}

a {
    text-decoration: none !important;
}

input[type="file"] {
    display: none;
}

$scroll-bar-size: 10px;

::-webkit-scrollbar {
    width: $scroll-bar-size;
    height: $scroll-bar-size;
}
//
//::-webkit-scrollbar-thumb {
//    color: $hardGray !important;
//}

/* width */
//::-webkit-scrollbar {
//    width: 10px;
//}

/* Track */
$track-color: $softGray;

::-webkit-scrollbar-track {
    background: $track-color;
}

::-webkit-scrollbar-corner {
    background: $track-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $mediumGray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
    width: 400px;
}

.outerContainer {
    @extend %flexGrid5;
    padding: 0 10px;
}

.contentContainer {
    max-width: 800px;
    width: 100%;
}

