@import "src/global_styles/basic_layouts";
@import "src/global_styles/basic_visual";
@import "src/global_styles/palette";

.fwc-container {
    @extend %flexRow;
    flex: 1;
}

.fwc-empty-container {
    @extend %flexGrid5;
    @extend %no-highlight;
    background-color: $softGray;
    color: $lightGray;
    font-weight: 500;
    font-size: 17pt;
}

.fwc-child-container {
    @extend %flexRow;
}

.fwc-child-drag-bar {
    width: 3px;
    min-width: 3px;
    background-color: $softGray;
    cursor: col-resize;
    z-index: 10;
}